/* makes scrolling as smooth as possible */
html{
    scroll-behavior: smooth;
}

/* sets the foreground color of the body tag to #161616 */
body{
    color: var(--text-color);
    font-family: var(--font-family-base);
}

/* sent to all 6 levels of headings */
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-family-title);
}

/* sets the foreground color of the anchor tag to #161616 */
a{
    color: var(--text-color);
}

/* hide the content of this class */
.visually-hidden{
    display: none;
  }

/* all foreground colors in the class are sent to # d73953 */
.card-category{
    color: var(--color-primary);
}

/* all foreground colors in the class are sent to # d73953 */
.section-tagline{
    color: var(--color-primary);
}

/* Custom properties */
:root{
    /* Colors */
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);

    /* Fonts */
    --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}